@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

body {
  background: #230955;
  color: #ecb365;
  font-family: "Montserrat", sans-serif;
}

.App {
  text-align: center;
}

h4 {
  padding: 16px 0 0 0;
}

.chart-one {
  max-width: 80vw;
  margin: 5vh 10vh 0 10vh;
}
